* {
  box-sizing: border-box;
}

.grid {
  border: 5px solid blue;
  display: grid;
  width: 500px;
  height: 500px;
  margin: auto;

  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);

  /* Implicit grid */
  /* grid-auto-rows: 100px; */

  /* grid-template-areas: 
    'a a . e . . i i i i'
    '. . . e . . . . . .'
    'h . . e . b b b . d'
    'h . . . . . . . . d'
    'h . . . . . . . . .'
    'h . . . . c . . . g'
    '. . . . . c . . . g'
    'b b . . . . . . . g'
    '. . . . . . . . . .'
    '. . . . j j j j j j'
  ; */
}

.grid-item{
  outline: 2px solid black;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: white; */
}

.grid-item:nth-child(1){
  /* grid-area: a; */
  grid-column: 1 / 3;
}

.grid-item:nth-child(2){
  /* grid-area: b; */
  grid-column: 1 / 3;
  grid-row: 8;
}

.grid-item:nth-child(3){
  /* grid-area: c; */
  grid-column: 6;
  grid-row: 6 / 8;
}

.grid-item:nth-child(4){
  /* grid-area: d; */
  grid-column: 10;
  grid-row: 3 / 5;
}

.grid-item:nth-child(5){
  /* grid-area: e; */
  grid-column: 4;
  grid-row: 1 / 4;
}

.grid-item:nth-child(6){
  /* grid-area: f; */
  grid-column: 6 / 9;
  grid-row: 3;
}

.grid-item:nth-child(7){
  /* grid-area: g; */
  grid-column: 10;
  grid-row: 6 / 9;
}

.grid-item:nth-child(8){
  /* grid-area: h; */
  grid-row: 3 / 7;
}

.grid-item:nth-child(9){
  /* grid-area: i; */
  grid-column: 7 / 10;
}

.grid-item:nth-child(10){
  /* grid-area: j; */
  grid-column: 5 / 11;
  grid-row: 10;
}


/* Background */

.grid-item:nth-child(1),
.grid-item:nth-child(2),
.grid-item:nth-child(3),
.grid-item:nth-child(4)
 {
  background-color: rgb(255, 39, 158);
  color: white;
}

.grid-item:nth-child(5),
.grid-item:nth-child(6),
.grid-item:nth-child(7)
 {
  background-color: forestgreen;
  color: white;
}

.grid-item:nth-child(8),
.grid-item:nth-child(9)
{
  background-color: blue;
  color: white;
}

.grid-item:nth-child(10) {
  background-color: red;
  color: white;
}