* {
  box-sizing: border-box;
}

.grid {
  border: 5px solid black;
  display: grid;
  width: 500px;
  height: 500px;
  margin: auto;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
  grid-template-areas: 
    'a a . e . . i i i i'
    '. . . e . . . . . .'
    'h . . e . f f f . d'
    'h . . . . . . . . d'
    'h . . . . . . . . .'
    'h . . . . c . . . g'
    '. . . . . c . . . g'
    'b b . . . . . . . g'
    '. . . . . . . . . .'
    '. . . . j j j j j j'
  ;
}

.grid-item{
  border: 1px solid black;
}

.grid-item:nth-child(1){
  grid-area: a;
}

.grid-item:nth-child(2){
  grid-area: b;
}

.grid-item:nth-child(3){
  grid-area: c;
}

.grid-item:nth-child(4){
  grid-area: d;
}

.grid-item:nth-child(5){
  grid-area: e;
}

.grid-item:nth-child(6){
  grid-area: f;
}

.grid-item:nth-child(7){
  grid-area: g;
}

.grid-item:nth-child(8){
  grid-area: h;
}

.grid-item:nth-child(9){
  grid-area: i;
}

.grid-item:nth-child(10){
  grid-area: j;
}

/* Background */

.grid-item:nth-child(1),
.grid-item:nth-child(2),
.grid-item:nth-child(3),
.grid-item:nth-child(4)
 {
  background-color: #800080;
  color: white;
}

.grid-item:nth-child(5),
.grid-item:nth-child(6),
.grid-item:nth-child(7)
 {
  background-color: #00ff00;
  color: white;
}

.grid-item:nth-child(8),
.grid-item:nth-child(9)
{
  background-color: #0000ff;
  color: white;
}

.grid-item:nth-child(10) {
  background-color: #ff0000;
  color: white;
}